{% load static %} {% if request.user.is_superuser %}

<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
  <div
    class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
  >
    <a class="navbar-brand brand-logo mr-5" href="{% url 'index' %}"
      ><img src="https://res.cloudinary.com/dhv4s7zy8/image/upload/v1701443479/ar_nfizmy.png" class="mr-2" alt="logo"
    /></a>
    <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}"
      ><img src="https://res.cloudinary.com/dhv4s7zy8/image/upload/v1701443479/ar_nfizmy.png" alt="logo"
    /></a>
  </div>
  <div
    class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
  >
    <button
      class="navbar-toggler navbar-toggler align-self-center"
      type="button"
      data-toggle="minimize"
    >
      <span class="icon-menu"></span>
    </button>
    <ul class="navbar-nav mr-lg-2"></ul>

    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item dropdown">
        <button type="button" class="btn btn-info btn-rounded btn-fw">
          Info
        </button>
      </li>
      <li class="nav-item nav-profile dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          data-toggle="dropdown"
          id="profileDropdown"
        >
          <img src="https://res.cloudinary.com/dhv4s7zy8/image/upload/v1701443479/ar_nfizmy.png" alt="profile" />
        </a>
        <div
          class="dropdown-menu dropdown-menu-right navbar-dropdown"
          aria-labelledby="profileDropdown"
        >
          <a class="dropdown-item" href="{% url 'profile'%}">
            <i class="ti-settings text-primary"></i>
            Profile
          </a>

          {% if user.is_authenticated %}
          <a class="dropdown-item" href="{% url 'logOut' %}">
            <i class="ti-power-off text-primary"></i>
            Logout
          </a>
          {% else %}
          <a class="dropdown-item" href="{% url 'logIn' %}">
            <i class="ti-power-off text-primary"></i>
            Login
          </a>
          {% endif %}
        </div>
      </li>
    </ul>

    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      data-toggle="offcanvas"
    >
      <span class="icon-menu"></span>
    </button>
  </div>
</nav>

{%else%}

<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-column">
  <div class="navbar col-lg-12 col-12 p-0 d-flex flex-row">
    <div
      class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"
    >
      <a class="navbar-brand brand-logo mr-5" href="{% url 'index' %}"
        ><img src="https://res.cloudinary.com/dhv4s7zy8/image/upload/v1701443479/ar_nfizmy.png" class="mr-2" alt="logo"
      /></a>
      <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}"
        ><img src="https://res.cloudinary.com/dhv4s7zy8/image/upload/v1701443479/ar_nfizmy.png" alt="logo"
      /></a>
    </div>
    <div
      class="navbar-menu-wrapper d-flex align-items-center justify-content-end"
    >
      <button
        class="navbar-toggler navbar-toggler align-self-center"
        type="button"
        data-toggle="minimize"
      >
        <span class="icon-menu"></span>
      </button>
      <ul class="navbar-nav mr-lg-2">
        <li class="nav-item nav-profile dropdown">
          &nbsp;
          <a
            class="btn btn-outline-primary btn-icon-text"
            href="#"
            data-toggle="dropdown"
            id="profileDropdown"
          >
            Menu
          </a>

          <div
            class="dropdown-menu dropdown-menu-right navbar-dropdown"
            aria-labelledby="profileDropdown"
          >
            {%if user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'profile'%}">
              <i class="ti- text-primary"></i>
              Profile
            </a>
            {%endif%}
            <a class="dropdown-item" href="{% url 'about'%}">
              <i class="ti- text-primary"></i>
              About
            </a>
            <a class="dropdown-item" href="{% url 'projects' %}">
              <i class="ti- text-primary"></i>
              Projects
            </a>
            <a class="dropdown-item" href="{% url 'services' %}">
              <i class="ti- text-primary"></i>
              Services
            </a>
            <a class="dropdown-item" href="#Feedback">
              <i class="ti-paper text-primary"></i>
              Feedback
            </a>
            <a
              class="dropdown-item"
              href="#"
              data-toggle="modal"
              data-target="#TME"
            >
              <i class="ti-paper text-primary"></i>
              TME events
            </a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item dropdown">
          {% if user.is_authenticated %}
          <a
            class="btn btn-primary btn-rounded btn-fw"
            href="{% url 'logOut' %}"
          >
            {{user}} | Log out
          </a>
          {% else %}
          <a
            class="btn btn-primary btn-rounded btn-fw"
            href="{% url 'logIn' %}"
          >
            Sign Up / Log in
          </a>
          {% endif %}
        </li>
        <li class="nav-item nav-settings d-none d-lg-flex">
          <a class="nav-link" href="#">
            <i class="icon-ellipsis"></i>
          </a>
        </li>
      </ul>
      <button
        class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
        type="button"
        data-toggle="offcanvas"
      >
        <span class="icon-menu"></span>
      </button>
    </div>
  </div>

  <div class="scrollmenu col-lg-12 col-12 p-0 d-flex flex-row">
    {% for course in courses %}
    <a href="{% url 'courseView' course.id %}?courseId={{ course.id }}">
      {{ course }}</a
    >
    {% endfor %}
    <a href="#">
      Robotics</a
    > <a href="#">
    IoT development</a
    >
  </div>
</nav>

{%endif%}
