<nav class="sidebar sidebar-offcanvas" id="sidebar">
  {% comment %} 
  Yemiftahhhhhhhhhh
  ❌❌❌❌
  ❌❌❌❌❌
  ❌❌❌❌
  {% endcomment %}



  <ul class="nav">
    


    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-bassic" aria-expanded="false" aria-controls="ui-bassic">
        <i class="ti-list menu-icon "></i>
        <span class="menu-title">Course</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-bassic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'createCourse'%}">Add Couse</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'courseList'%}">View Couse</a></li>
          </ul>
      </div>
    </li>
 
    <li class="nav-item">
      <a class="nav-link" href="{% url 'resourceList' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Resource List</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">User</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="" data-toggle="modal" data-target="#addResourceModal">View Users</a></li>
          <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">View Resource</a></li>
        </ul>
      </div>
    </li>

</nav>