{% extends 'base.html'%} {% load static %} {% block content %}

{% if page == 'topic'%}

  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
    {%for topic in topics %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'topicView' topic.id %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">{{topic.name}}</span>
      </a>
    </li>
    {%endfor%}
  </nav>
{%endif%}

{%if topic.order == 1 %}

<div class="main-panel">          
  <div class="content-wrapper">
    <div class="row">
      
      <div class="col-md-12 grid-margin">
        <div class="row">
          
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold"><span class="text-primary">{{topic}}</span> Tutorial</h3>
              </div>

          <div class="col-12 col-xl-4 mb-4">
           <div class="justify-content-end d-flex">
            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
              <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
              </button>
            </div>
           </div>
          </div>

          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <a href="{% url 'topicView' topic.id %}?direction=prev"  class="btn btn-primary"> &lt; Previous</a></div>
            <div class="col-12 col-xl-4 mb-4">
              <div class="justify-content-start d-flex">
               <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                <a href="{% url 'topicView' topic.id %}?direction=next"  class="btn btn-primary"> Next &gt;</a></div>
               </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-8 mb-0">  
        </div>
      </div>

      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body">
                <h4 class="card-title">Learn {{topic}}</h4>
                {{topic.descriptions|safe}}
              </div>
              <hr>
              <a href="{% url 'topicView' topic.id %}?direction=next"  class="btn btn-primary"> Start Learning {{topic}} now &gt;&gt;</a>
            </div>
          </div>
        </div>
      </div>
  {% comment %} Exanples {% endcomment %}
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="row">
        <div class="col-md-12">
          <div class="card-body ">
            <h4 class="card-title">Examples in Each topics</h4>
            <p class="card-description">The "Try it Yourself" editor makes it easy to learn {{topic}}. You can edit 
              {{topic}} code and view the result in the simulation.</p>
            <div class="card tale-bg">
              <div class="row">
                <div class="col-md-12">
                  <div class="card-body">
                    <h4 class="card-title">Examples</h4>
               iframe
                    <button
                    class= "btn btn-success btn-rounded btn-fw"
                    type="button"
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#Try"
                   
                  >
                  Try it Yourself &gt;&gt;
                  </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

      {% comment %} Reference {% endcomment %}
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body">
                <h4 class="card-title">{{topic}} Reference</h4>
                <p class="card-description">Some List of links for additional Reference</p>
                <div class="template-demo">
                  {% for reference in topic.resources.all%}
                  <a href="{{reference.url}}" download>
                    <button type="button" class="btn btn-outline-primary btn-fw">{{ reference }}</button>
                </a>
                  {% endfor%}

                  {%if topic.url%}
                  <div class="card tale-bg mt-3">
                    <div class="">
                      <div class="col-md-12">
                        <div class="card-body">
                          <h4 class="card-title">Video</h4>
                          <div class="embed-responsive embed-responsive-16by9">
                           <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ topic.url|cut:"https://www.youtube.com/watch?v=" }}" frameborder="0" allowfullscreen></iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {%endif%}

                  
                  </div>
              </div>
              
            </div>
            
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <a href="{% url 'topicView' topic.id %}?direction=prev"  class="btn btn-primary"> &lt; Previous</a></div>
                <div class="col-12 col-xl-4 mb-4">
                  <div class="justify-content-start d-flex">
                   <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <a href="{% url 'topicView' topic.id %}?direction=next"  class="btn btn-primary"> Next &gt;</a></div>
                   </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-8 mb-4">  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">By : Semi tech</span>
          </div>
        </footer>
        <!-- partial -->
        
      </div>


      
{% elif topic.order >= 1%}

<div class="main-panel">          
  <div class="content-wrapper">
    <div class="row">
      
      <div class="col-md-12 grid-margin">
        <div class="row">
          
          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold"><span class="text-primary">{{topic.name}}</span> Tutorial</h3>
            </div>

          <div class="col-12 col-xl-4 mb-4">
           <div class="justify-content-end d-flex">
            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
              <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               <i class="mdi mdi-calendar"></i> Today (10 Jan 2021)
              </button>
            </div>
           </div>
          </div>

          <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <a href="{% url 'topicView' topic.id %}?direction=prev"  class="btn btn-primary"> &lt; Home</a>
          </div>
            {% comment %} <button type="button" class="btn btn-primary"><a href="#"> &lt; Home</a></button></div> {% endcomment %}
            <div class="col-12 col-xl-4 mb-4">
              <div class="justify-content-start d-flex">
                <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                 <a href="{% url 'topicView' topic.id %}?direction=next"  class="btn btn-primary">Next &gt;</a>
                {% comment %} <button type="button" class="btn btn-primary">Next &gt;</button></div> {% endcomment %}
                </div> 
              </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-8 mb-0">  
        </div>
      </div>
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body">
                <h4 class="card-title">Learn{{topsic}}</h4>
                <p class="card-description">{{topic.descriptions|safe }} </p>
                 </div>
              <hr>
            </div>
         
          </div>
        </div>
      </div>
    
     
      
      {% comment %} Reference {% endcomment %}
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body">
                <h4 class="card-title">{{topic}} Reference</h4>
                <p class="card-description">Some links for additional Reference</p>
                <div class="template-demo">
                  {% for reference in topic.resources.all%}
                  <buton type="button" class="btn btn-outline-primary btn-fw">{{reference}}</buton>
                  {% endfor%}

                  {%if topic.url%}
                  <div class="card tale-bg mt-3">
                    <div class="">
                      <div class="col-md-12">
                        <div class="card-body">
                          <h4 class="card-title">Video</h4>
                          <div class="embed-responsive embed-responsive-16by9">
                           <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ topic.url|cut:"https://www.youtube.com/watch?v=" }}" frameborder="0" allowfullscreen></iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {%endif%}



                  </div>
              </div>
            </div>
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <a href="{% url 'topicView' topic.id %}?direction=next"  class="btn btn-primary"> &lt; Previous</a></div>
                <div class="col-12 col-xl-4 mb-4">
                  <div class="justify-content-start d-flex">
                   <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <a href="{% url 'topicView' topic.id %}?direction=next"  class="btn btn-primary">Next &gt;</a></div>
                   </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-xl-8 mb-4">  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2023. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">By : Semi tech</span>
          </div>
        </footer>
        <!-- partial -->
        
      </div>


      


{%endif%}

<div class="modal fade" id="Try"  tabindex="-1"   role="dialog"    aria-labelledby="Try" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <span class="text-primary">Opps... </span>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="modal-title" id="exampleModalLabel">
          Sorry <span class="text-warning">
          Coming Soon!
        </span>
        </h5>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          cancel
        </button>
       
      </div>
    </div>
  </div>
</div>

{% endblock%}